@charset "UTF-8";


.area_buy{
min-height: 1500px; 
width: 1200px;
position: relative; 	
}


.div_select_town{
width: 70px;
height : 20px;
position: absolute;
top : 100px;
left: 200px;
}/* 동네를선택하세요 div */

.select_town{
width: 150px;
height: 42px;
border-radius: 5px;
border-color: #A6A6A6;
border-width: 2px;
}/* 동네를선택하세요 select */


.div_select_category{
width: 70px;
height : 20px;
position: absolute;
top : 100px;
left: 380px;
	
}/* 카테고리 div */


.select_category{
width: 150px;
height: 42px;
border-radius: 5px;
border-color: #A6A6A6;
border-width: 2px;
	
}/* 카테고리 select */



.prod_table{ 
position: absolute; 
top : 250px; 
left: 240px;
}

 .prdCol {
 width: 200px; 
 height: 180px; 
 }
 
.prod_img{ 
width: 135px;
height: 135px;
object-fit: cover;
border-radius: 10px; 
} 


a {
  text-decoration: none;
}






